<!-- Simulate  arm in gazebo -->

<launch>

  <param name="/use_sim_time" value="true" />

  <!--node name="gazebo" pkg="gazebo_ros" type="gazebo" args="-u $(find turtlebot_gazebo)/worlds/empty.world" respawn="false" output="screen"/-->

<group ns="brazo">

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rc_armsim)/urdf/arm.urdf.xacro'" />

 <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"  output="screen" args="-file $(find rc_armsim)/urdf/arm.urdf -urdf -z 100 -model rc_armsim1" />

  <rosparam file="$(find rc_armsim)/conf/controllers.yaml" command="load"/>

  <node pkg="controller_manager" type="spawner" name="arm_controller_spawner" args="base_pos_controller arti1_pos_controller arti2_pos_controller arti3_pos_controller pinza_pos_controller base_vel_controller arti1_vel_controller arti2_vel_controller arti3_vel_controller pinza_vel_controller" respawn="false" output="screen" />
  
</group>  
  
</launch>
